*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  color: #6d0a65;
  background-color: #fff;
}
.App-nav ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.App-nav ul li a {
  text-decoration: none;
  color: #6d0a65;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
}
.App-nav ul li::before{
  content: "";
  height:4px ;
  width: 0%;
  background: black;
  position:absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
.App-nav ul li:hover::before{
  width: 100%;
  }
.App-logo {
  width:150px;
  height: 150px;
}
.App-cart{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
h1{
  background-color: #ffedcc;
  border:solid 5px #6d0a65;
}
h2{
  background-color: #ffedcc;
  border:solid 5px #6d0a65;
}
.botonUno{
  font-size: 30px;
  background-color: #2538a1;
  width:30px
}
.botonDos{
  font-size: 30px;
  background-color: #d82121;
  margin:5px;
  width:30px
}
.botonTres{
  font-size: 25px;
  background-color: rgb(83, 83, 82);
  margin:5px;
}
.botonCuatro{
  font-size: 25px;
  background-color: rgb(134, 8, 118)
}